* {margin:0; padding: 0;}

body {
    background: #0c5460;
    color: #fff;
}

h1, h2, .decs {
    text-align: center;
}

h2 {
    font-size: 18px;
}

#content {
    margin-top: 40px;
}

.btn-primary  {
    background-color: var(--gray-dark);
    border: 0;
    outline: none;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #3da867;
    border:0;
    outline: none;
}
.btn-primary:focus {
    box-shadow: none;
}

#tweet-list {
    overflow: hidden;
}

.list-group-item {
    margin-bottom: 4px;
    background-color: var(--green);    
    transform: translateX(-100%);
    transition: transform 1s ease;
}

.list-show {
    transform: translate(0);
}

.line {
    height: 2px;
    background: #6fadb8;
}

.alert {
    margin: 0;
}

.remove-tweet,
.remove-tweet:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}
